.infoCardContainer {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.infoCardHeadline {
  color: black;
  font-weight: bold;
}

.infoCardCallActionContainer:hover {
  color: white;
}

.infoCardContainer--vintage {
  background-color: #edcfd1
}

.infoCardContainer--metal {
  background-color: #e1e1e1;
}